<!-- cau truc khi tao xong component -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- ... -->
      <button mat-flat-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      (click)="createOrUpdateModelOpen(0)"
      >Thêm mới <i class="fa-solid fa-plus"></i></button>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <mat-card>
      <!-- ... -->
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Mã NV</th>
              <th>Ngày kỷ luật</th>
              <th>Tiền kỷ luật</th>
              <th>Lý do</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rewarddiscipline of rewarddisciplines;">
            <td>{{rewarddiscipline.EmployeeId}}</td>
            <td>{{rewarddiscipline.TransactionDate}}</td>
            <td>{{rewarddiscipline.RewardAmount}}</td>
            <td>{{rewarddiscipline.Reason}}</td>
            <td>
              <button style="margin-right: 10px;" mat-flat-button color="primary"
              (click)="createOrUpdateModelOpen(rewarddiscipline.Id)"
              data-bs-toggle="modal" data-bs-target="#exampleModal"
              ><i class="fa-solid fa-pen"></i></button>
              <button mat-stroked-button color="warn" (click)="deleteRew(rewarddiscipline.Id)">
                <i class="fa-solid fa-trash"></i>
            </button>
            </td>
          </tr>

          </tbody>
        </table>
  </mat-card>
</div>

<!-- Modal -->
<app-modal-rewarddiscipline [id]="idModal" (onSaveRew)="onSaveRew($event)"></app-modal-rewarddiscipline>
