<!-- cau truc khi tao xong component -->

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- ... -->
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <mat-card>
      
      <!-- ... -->
      <table id="myTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th >Tên nhân viên</th>
            <th>Tháng</th>
            <th>Năm</th>
            <th>Số ngày làm việc</th>
            <th>Số ngày nghỉ</th>
            <th>Số ngày nghỉ có công</th>
            <th>Giờ làm thêm</th>
            <th>Tổng lương</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empSalary of empSalaries">
            <td>{{ empSalary.employee_name }}</td>
            <td>{{ empSalary.month }}</td>
            <td>{{ empSalary.year }}</td>
            <td>{{ empSalary.totalWorkDays }}</td>
            <td>{{ empSalary.totalHolidayDays }}</td>
            <td>{{ empSalary.totalPaidLeaveDays }}</td>
            <td>{{ empSalary.totalOverTimeHours }}</td>
            <td>{{ empSalary.totalSalary }}</td>
          </tr>
        </tbody>
        
      </table>
    </mat-card>
  
</div>
