<!-- cau truc khi tao xong component -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <mat-card>
      <!-- ... -->
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Mã NV</th>
              <th>Ngày</th>
              <th>Thời gian vào</th>
              <th>Thời gian ra</th>
              <th>Tăng ca</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attendance of attendances">
              <td>{{ attendance.EmployeeId }}</td>
              <td>{{ attendance.Date | date:'dd-MM-yyyy' }}</td>
              <td>{{ attendance.CheckInTime }}</td>
              <td>{{ attendance.CheckOutTime }}</td>
              <td>{{ attendance.Overtime }}</td>
              <td>{{ attendance.Status }}</td>
            </tr>
          </tbody>
        </table>
  </mat-card>
</div>
