<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- ... -->
      <div style="width: 30%;">
        <ul class="list-group">
          <li class="list-group-item">
            Mã nhân viên:
          </li>
          <li class="list-group-item" >
            Họ tên:
          </li>
          <li class="list-group-item" >
            Phòng ban:
          </li>
          <li class="list-group-item" >
            Chức vụ:
          </li>
        </ul>
      </div>
      <div style="text-align:center;padding:1em 0; width: 30%;">
        <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=Asia%2FHo_Chi_Minh" width="100%" height="140" frameborder="0" seamless></iframe> 
      </div>
    </div>
    <button mat-flat-button color="primary" class="checkin-btn">Chấm công vào</button>
  </div>
</div>
<div class="container-fluid mt--7">
  <mat-card>
      <!-- ... -->
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Ngày</th>
              <th>Thời gian vào</th>
              <th>Thời gian ra</th>
              <th>Thời gian làm việc</th>
              <th>Tăng ca</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>16-05-2023</td>
              <td></td>
              <td></td>
              <td>0</td>
              <td>0</td>
              <td>Nghỉ</td>
            </tr>
            <tr>
              <td>17-05-2023</td>
              <td>07:00:00</td>
              <td>17:00:00</td>
              <td>9</td>
              <td>2</td>
              <td>Đi sớm</td>
            </tr>
          </tbody>
        </table>
  </mat-card>
</div>
