<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- ... -->
      <div style="width: 30%;">
        <ul class="list-group">
          <li class="list-group-item">
            Mã nhân viên: {{employee.Id}}
          </li>
          <li class="list-group-item">
            Họ tên: {{employee.Fullname}}
          </li>
          <li class="list-group-item">
            Phòng ban: {{employee.DepartmentName}}
          </li>
          <li class="list-group-item">
            Chức vụ: {{employee.PositionName}}
          </li>
        </ul>
      </div>
      <div style="text-align:center;padding:1em 0; width: 30%;">
        <iframe
          src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=Asia%2FHo_Chi_Minh"
          width="100%" height="140" frameborder="0" seamless></iframe>
      </div>
    </div>
    <button mat-flat-button color="primary" (click)="onCheckInOutClick()" class="checkin-btn"
      [style.display]="showCheckinButton ? 'unset' : 'none'" *ngIf="checkinButtonText">{{ checkinButtonText }}</button>
  </div>
</div>
<div class="container-fluid mt--7">
  <mat-card>
    <!-- ... -->
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Ngày</th>
          <th>Thời gian vào</th>
          <th>Thời gian ra</th>
          <th>Thời gian làm việc</th>
          <th>Tăng ca</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of attendances">
          <td>{{ attendance.Date | date:'dd-MM-yyyy' }}</td>
          <td>{{ formatTime(attendance.CheckInTime) }}</td>
          <td>{{ formatTime(attendance.CheckOutTime) }}</td>
          <td>{{ getWorkingTime(attendance.CheckInTime, attendance.CheckOutTime) }}</td>
          <td>{{ attendance.Overtime }}</td>
          <td>{{ getStatus(attendance.Status) }}</td>
        </tr>
      </tbody>
    </table>

  </mat-card>
</div>