<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ngày nghỉ lễ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="holForm">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ngày nghỉ lễ</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="holiday_date" />
              </div>
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>Chú thích</mat-label>
                <input matInput formControlName="description" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Số ngày được nghỉ</mat-label>
                <input matInput type="number" value="" formControlName="days_off" />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!holForm.valid" (click)="onSave()">
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
